POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=db
DATABASE_URL=postgres://youruser:yourpassword@db:5432/db
# Run: mkcert -CAROOT  to find your path
MKCERT_CAROOT=/path/to/your/mkcert
